{% extends 'mailing_service/base.html' %}
{% load static %}

{% block title %}Статистика рассылок{% endblock %}

{% block content %}
<main>
    <div class="container my-5">
        <!-- Заголовок -->
        <div class="text-center mb-5">
            <h1 class="display-4">Статистика</h1>
            <p class="lead">Здесь отображается вся статистика по рассылке</p>
        </div>
        <div class="card">
            <div class="card-header bg-success text-white">
                <h5 class="mb-0">Активных рассылок: {{ active_distributions }}</h5>
            </div>
            {% if active_mailings %}
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Рассылка</th>
                            <th>Период отправки</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for mailing in active_mailings %}
                        <tr>
                            <td>{{ mailing.start_time|date:"d.m.Y H:i" }}</td>
                            <td><a href="{% url 'mailing_service:distribution_details' mailing.pk %}">
                                {{ mailing.message.title }}
                            </a>
                            </td>
                            <td>{{ mailing.start_time|date:"d.m.Y H:i" }} - {{ mailing.end_time|date:"d.m.Y H:i" }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <div class="card-body text-muted">
                В данный момент нет активных рассылок
            </div>
            {% endif %}
        </div>
        <br>

        <!-- История попыток -->
        <div class="card">
            <div class="card-header bg-secondary text-white">
                <h5 class="mb-0">История попыток</h5>
            </div>
            {% if attempts %}
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Дата</th>
                            <th>Рассылка</th>
                            <th>Статус</th>
                            <th>Ответ</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for attempt in attempts %}
                        <tr>
                            <td>{{ attempt.dt|date:"d.m.Y H:i:s" }}</td>
                            <td>{{ attempt.distribution.message.title }}</td>
                            <td>
                                {% if attempt.status == 'success' %}
                                <span class="badge bg-success">Успешно</span>
                                {% else %}
                                <span class="badge bg-danger">Не успешно</span>
                                {% endif %}
                            </td>
                            <td>{{ attempt.response|truncatechars:50 }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% else %}
            <div class="card-body text-muted">
                Попыток еще не было. Отправьте первую рассылку!
            </div>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}