{% extends 'mailing_service/base.html' %}
{% load static %}

{% block title %}Список получателей рассылок{% endblock %}

{% block content %}
<main>
    <div class="container my-5">
        <!-- Заголовок -->
        <div class="text-center mb-5">
            <h1 class="display-4">Получатели рассылки</h1>
            <p class="lead">Список всех получателей рассылки</p>
        </div>
        <!-- Получатели -->
        <div class="mb-3">
            <a href="{% url 'mailing_service:recipient_create' %}" class="btn btn-outline-secondary">
                Создать получателя
            </a>
        </div>
        {% if recipients %}
        <div class="row g-4">
            {% include "mailing_service/includes/inc_recipient.html" %}
        </div>
        {% else %}
        <div class="alert alert-info">
            <h4 class="alert-heading">Пока нет данных</h4>
            <p>Данные появится после добавления получателей.</p>
        </div>
        {% endif %}
    </div>
</main>
{% endblock %}